<h3><%= t('view.top') %></h3>

<div class="top">
  <div align="center">
    <div align="left" class="inline-block">
      <h4>このアプリを通して実現したいビジョンは</h3>
      <h4>◆ 医療従事者の事務作業の負担軽減</h4>
      <h4>◆ 患者の滞在時間を最少化し院内感染リスクの低減</h4>
      <br />
      <h4>
        <<機能>>
        <li>診察申し込み・問診票・お会計等をオンライン化</li>
        <li>混雑状況をリアルタイムで見える化</li>
      </h4>
    </div>
  </div>

  <%= link_to t('view.tutorial'), tutorials_path, class: "btn btn-warning", role: "button" %>
</div>