<h4><%= t('view.top') %></h4>

<h1>MPass<h1>
<h3>このアプリを通して実現したいビジョンは</h3>
<h2>◆ 医療従事者の事務作業の負担軽減</h2>
<h2>◆ 患者の滞在時間を最少化し院内感染リスクの低減</h2>

<h3>
  ◆できること◆
  <li>【診察申し込み/初診問診票/お会計/等】をオンライン化し、</li>
  <li>混雑状況をリアルタイムで見える化。</li>
</h3>

<button>
  <%= link_to t('view.tutorial'), tutorials_path %>
</button>