<h4>チュートリアル</h4>

<div>
  <h4>患者側のログインリンクです。受付に申し込んだ後は、スタッフ側の操作を受け、画面が変化します。</h4>
  <%= link_to t('view.guest_patient'), guest_sign_in_tutorials_path, method: :post %>
  <h4>通常医療スタッフのログインリンクです。診察の進行に合わせてステータスを変更することができます。</h4>
  <%= link_to t('view.guest_staff'), guest_staff_sign_in_tutorials_path, method: :post %>
  <h4>管理者医療スタッフのログインリンクです。通常操作に加え、スタッフの管理画面の操作などができます。</h4>
  <%= link_to t('view.guest_admin_staff'), guest_admin_sign_in_tutorials_path, method: :post %>
  <h4>サイト管理者のログインリンクです。病院の新規登録や、サポート用に一部管理者医療スタッフの操作などができます。</h4>
  <%= link_to t('view.guest_master'), guest_master_sign_in_tutorials_path, method: :post %>
</div><br />
<div>
  _/_/_/_/シークレットモードなどを使い患者、スタッフ両サイドの画面を見ながら操作してみてください。_/_/_/_/
</div>