/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  nav p {
    text-align: center;
  }

  nav ul {
    margin-top: 0;
    padding: 0;
    display: -webkit-flex;
    display: flex;
  }

  nav .flex-right {
    margin-left: auto;
  }

  ul li {
    list-style: none;
    margin: 5px;
  }

  .logo {
    font-size: x-large;
    margin-bottom: 0;
  }

  /* span.logo-design {
    background: linear-gradient(transparent 60%, #a8eaff 60%);
    margin-left: auto;
    margin-right: auto;
  } */

  text_area {
    size: 20x5;
  }


