<h4>チュートリアル</h4>

<div class="top">
  <%= link_to t('view.guest_patient'), guest_sign_in_tutorials_path, method: :post %>
  <p>患者側のログインリンクです。受付に申し込んだ後は、スタッフ側の操作を受け、画面が変化します。</p>

  <%= link_to t('view.guest_staff'), guest_staff_sign_in_tutorials_path, method: :post %>
  <p>通常医療スタッフのログインリンクです。診察の進行に合わせてステータスを変更することができます。</p>

  <%= link_to t('view.guest_admin_staff'), guest_admin_sign_in_tutorials_path, method: :post %>
  <p>管理者医療スタッフのログインリンクです。通常操作に加え、スタッフの管理画面の操作などができます。</p>

  <%= link_to t('view.guest_master'), guest_master_sign_in_tutorials_path, method: :post %>
  <p>サイト管理者のログインリンクです。病院の新規登録や、サポート用に一部管理者医療スタッフの操作などができます。</p>

  <div>_/_/_/_/</div>
  シークレットモードなどを使い患者、スタッフ両サイドの画面を見ながら操作をお試しください。
  ※稀にログインに失敗する場合がございますが、再度お試しください。
  <div>_/_/_/_/</div>
</div>
