/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import '~bootstrap/scss/bootstrap';
 @import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');


 body {
  font-family: arial,'Edu VIC WA NT Beginner', cursive;
  width: 90%;
  margin: 0 auto;
}
.container {
  padding: 30px 20px;
}
nav ul {
  margin-top: 0;
  padding: 0;
  display: -webkit-flex;
  display: flex;
}
nav .flex-right {
  margin-left: auto;
}
.logo {
  font-size: xx-large;
  // margin-bottom: 0;
}
/* span.logo-design {
  background: linear-gradient(transparent 60%, #a8eaff 60%);
  margin-left: auto;
  margin-right: auto;
} */
.top {
  margin: 30px 20px 30px 20px;
}
form {
  margin-top: 30px;
  margin-bottom: 30px;
}
.index_area {
  margin-bottom: 20px;
}
.hospital_table {
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:-moz-flex;
  display:flex;
  -webkit-box-lines:multiple;
  -moz-box-lines:multiple;
  -webkit-flex-wrap:wrap;
  -moz-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
}
.slender_table {
  display: -webkit-flex;
  display: flex;
}
.slender_table table {
  margin-left: 20px;
}
.message_area {
  margin-top: 30px;
}
img {
  margin-right: 20px;
  margin-bottom: 15px;
}
// #map {
//   height: 500px;
//   width: 100%;
// }
.inline-block {
  display: inline-block;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.margin_left {
  margin-left: 40px;
}
/* .search_area {
} */
ul li {
  list-style: none;
  margin: 5px;
}
td {
  padding-bottom: 10px;
}
.small_font {
  font-size: small;
}
.btn {
  padding: 2px 5px;
  margin: 15px 0px 5px 5px;
}
label {
  margin-top: 6px;
  margin-bottom: 0;
}
textarea {
  width: 220px;
  height: 80px;
}
.email_field input {
  width: 220px;
}
.password_field input {
  width: 220px;
}
.age_field input {
  width: 40px;
}
.actions {
  margin-top: 15px;
}
.paginate {
  margin-top: 30px;
}
.pagination>li>a {
  border: none;
  color: #696969;
}
.pagination>.active>a {
  // background: #93c9ff;
  border-radius: 15px;
}
.pagination>li>a:hover {
  border-radius: 15px;
}


.sky__line {
  border-top: 3px solid skyblue;
}
.orange__line {
  border-top: 3px solid orange;
}
.red__line {
  border-top: 3px solid red;
}


.button_line004 a {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 600;
}
.button_line004 a:before,
.button_line004 a:after {
  content: '';
  width: 18px;
  height: 18px;
  border-color: #6bb6ff;
  box-sizing: border-box;
  border-style :solid;
  display: block;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.button_line004 a:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}
.button_line004 a:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}
.button_line004 a:hover:before,
.button_line004 a:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #6bb6ff;
}
.button_line004 a:hover {
  color: #fff;
  background-color: #6bb6ff;
  border-color: #6bb6ff;
}


.button_06 {
	text-decoration: none;
	padding: 5px 13px;
	border-radius: 100vh;
	border-bottom: 5px solid #696969;
	background: #d3d3d3;
	color: black;
}
a.button_06:hover {
  text-decoration: none;
	margin-top: 5px;
	border-bottom: 1px solid #c0c0c0;
	color: black;
}