<h3><%= Date.current.strftime('%Y/%m/%d') + t('view.hide') + t('view.index') %></h3>

<div class="index_area">
  <%= tag.div id: "reverse-list-set", data: { hospital_id: @hospital.id }.to_json %>
</div>

<button>
  <%= link_to t('view.back'), :back %>
</button>

<%= javascript_pack_tag 'health_interviews_index_controller' %>