.div__flex {
  display: -webkit-flex;
  display: flex;
}
.vue__select {
  width: 55px;
  border-radius: 10px;
}
.font__large {
  font-size: large;
}
.link__to {
  margin-right: 2px;
  text-decoration-line: underline;
  cursor: pointer;
}
.link__to:hover {
  color: blue;
}
.noshow__list {
  color: red;
}
//  .modal__button {
//   display: inline-flex;
// }

.button_line004 a {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10 auto;
  max-width: 200px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 600;
}
.button_line004 a:before,
.button_line004 a:after {
  content: '';
  width: 18px;
  height: 18px;
  border-color: #6bb6ff;
  box-sizing: border-box;
  border-style :solid;
  display: block;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.button_line004 a:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}
.button_line004 a:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}
.button_line004 a:hover:before,
.button_line004 a:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #6bb6ff;
}
.button_line004 a:hover {
  color: #fff;
  background-color: #6bb6ff;
  border-color: #6bb6ff;
}

.sky__line {
  border-top: 3px solid skyblue;
}
.orange__line {
  border-top: 3px solid orange;
}
.red__line {
  border-top: 3px solid red;
}